.card__two{
    width: 304px;
    height: 295px;
    display: inline-flex;
padding: 48px;
flex-direction: column;
align-items: flex-start;
gap: 15px;
background: var(--white, #FFF);
box-shadow: 0px 96px 96px 0px rgba(177, 186, 200, 0.12);
margin-left: 37px;
}
.card__text{
    display: flex;
width: 304px;
flex-direction: column;
color: #4A556C;
font-size: 24px;
font-family: 'Kumbh Sans', sans-serif;
font-style: normal;
font-weight: 400;
line-height: 32px;
letter-spacing: -0.72px;
}
.card__name{
    color: #333461;
font-size: 24px;
font-family: 'Kumbh Sans', sans-serif;
font-style: normal;
font-weight: 700;
line-height: 32px;
letter-spacing: -0.72px;
}