.free__card {
    display: flex;
    width: 450px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #EDEFF5;
}

.free__card-text {
    display: inline;
    font-family:'Kumbh Sans', sans-serif;
    color: #333461;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.free__card-color {
    display: inline;
    width: 400px;
    font-family: 'Kumbh Sans', sans-serif;
    color: #667085;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.free__card-name {
    margin-top: 16px;
    color: #333461;
    text-align: center;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.free__card-downName {
    margin-top: 4px;
    color: rgba(74, 85, 108, 0.50);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.free__img{
    margin-top: 20px;
}
.free__icon{
    margin-top: 16px;
}